body{
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
    background-color: #13678A;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center; 
    padding: 16px;   
}

a{
    color: bisque;
    text-decoration: none;
    font-size: 18px;    
}

.center{
    text-align: center;
}

p{
    color: black;
    background-color:#45C4B0;
    color: #012030;
    text-align: center;    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

h1{
    color: #012030;
    text-align: center;
}

.botao1{
  background-color: #45C4B0;  
  border-radius: 20px;
  width: 5%;  
  border: none;
  padding: 8px;
  cursor: pointer;
}

.botao2{
    background-color: #45C4B0;
    border-radius: 20px;
    width: 10,5%;
    border: none;
    padding: 8px;
    cursor: pointer;
}

h3{
    color: #DAFDBA;
    text-align: center;
}

img{
    width: 250px; height: 250px; 
    border-radius: 50%; 
    border: 5px solid #012030; 
}

